BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "xclock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_rx" SITE "K1" ;
LOCATE COMP "uart_tx" SITE "K2" ;
LOCATE COMP "xclock" SITE "L19" ;
SYSCONFIG MCCLK_FREQ=19.4 CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=JTAG ;
IOBUF PORT "main_pll_CLKI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "main_pll_CLKOP" IO_TYPE=LVCMOS25 ;
USE PRIMARY NET "main_clock_120MHz" ;
