BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MCCLK_FREQ=19.4 CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=JTAG ;
IOBUF PORT "xclock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb1_r" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xclock" SITE "L19" ;
LOCATE COMP "uart_tx" SITE "K2" ;
LOCATE COMP "uart_rx" SITE "K1" ;
LOCATE COMP "rgb1_r" SITE "P19" ;
USE PRIMARY NET "main_clock_120MHz" ;
LOCATE COMP "ads_7056_clock" SITE "M20" ;
IOBUF PORT "ads_7056_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ads_7056_chip_select" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ads_7056_clock_pri" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ads_7056_chip_select_pri" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ads_7056_chip_select" SITE "N20" ;
LOCATE COMP "ads_7056_clock_pri" SITE "U20" ;
LOCATE COMP "ads_7056_chip_select_pri" SITE "R17" ;
